<launch>
  
  <!-- Launch the Cartesian Controller node -->
  <!--<include file="$(find ras_group8_cartesian_controller)/launch/ras_group8_cartesian_controller.launch" />-->

  <!-- Launch the Teleop Node -->
  <node pkg="ras_group8_cartesian_controller"
       type="teleop"
       name="teleop"
     output="screen">
    <rosparam command="load" file="$(find ras_group8_cartesian_controller)/config/teleop.yaml" />
  </node>

</launch>